.page-view {
  height: 100%;
}

.page-header {
  position: fixed;
  top: 0;
  font-size: 16px;
  width: 100%;
  height: 80px;
  z-index: 2;
  margin-bottom: 3px;
  display: flex;
  flex-flow: nowrap;
  flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #35495e;
}

.page-header-background {
  background-color: #03a9f4 !important;
}

.page-header-text {
  color: white;
}

.page-content {
  margin-top: 80px;
}

.page-header .cancel {
  padding-left: 15px;
}

.row-padding-10 {
  padding: 0 10px;
}