/*@font-face {*/
  /*font-family: 'Material Icons';*/
  /*font-style: normal;*/
  /*font-weight: 400;*/
  /*src: url("../../../static/fonts/material/MaterialIcons-Regular.eot"); !* For IE6-8 *!*/
  /*src: local('Material Icons'),*/
  /*local('MaterialIcons-Regular'),*/
  /*url('../../../static/fonts/material/MaterialIcons-Regular.woff2') format('woff2'),*/
  /*url('../../../static/fonts/material/MaterialIcons-Regular.woff') format('woff'),*/
  /*url('../../../static/fonts/material/MaterialIcons-Regular.ttf') format('truetype');*/
/*}*/

/*@font-face {*/
  /*font-family: 'Roboto';*/
  /*font-weight: 400;*/
  /*font-style: normal;*/
  /*src: local('Roboto-Regular'),*/
  /*url(/static/fonts/roboto/Roboto-Regular.woff) format('woff'),*/
  /*url(/static/fonts/roboto/Roboto-Regular.woff2) format('woff2');*/
/*}*/

/*@font-face {*/
  /*font-family: 'Roboto';*/
  /*font-weight: 200;*/
  /*font-style: normal;*/
  /*src: local('Roboto-Thin'),*/
  /*url(/static/fonts/roboto/Roboto-Thin.woff) format('woff'),*/
  /*url(/static/fonts/roboto/Roboto-Thin.woff2) format('woff2');*/
/*}*/

/*@font-face {*/
  /*font-family: 'Roboto';*/
  /*font-weight: bold;*/
  /*font-style: normal;*/
  /*src: local('Roboto-Bold'),*/
  /*url(/static/fonts/roboto/Roboto-Bold.woff) format('woff'),*/
  /*url(/static/fonts/roboto/Roboto-Bold.woff2) format('woff2');*/
/*}*/

/*@font-face {*/
  /*font-family: 'Roboto';*/
  /*font-weight: 100;*/
  /*font-style: normal;*/
  /*src: local('Roboto-Light'),*/
  /*url(/static/fonts/roboto/Roboto-Light.woff) format('woff'),*/
  /*url(/static/fonts/roboto/Roboto-Light.woff2) format('woff2');*/
/*}*/

/*@font-face {*/
  /*font-family: 'Roboto';*/
  /*font-weight: 300;*/
  /*font-style: normal;*/
  /*src: local('Roboto-Medium'),*/
  /*url(/static/fonts/roboto/Roboto-Medium.woff) format('woff'),*/
  /*url(/static/fonts/roboto/Roboto-Medium.woff2) format('woff2');*/
/*}*/

/*.material-icons {*/
  /*font-family: 'Material Icons';*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
  /*font-size: 24px;  !* Preferred icon size *!*/
  /*display: inline-block;*/
  /*line-height: 1;*/
  /*text-transform: none;*/
  /*letter-spacing: normal;*/
  /*word-wrap: normal;*/
  /*white-space: nowrap;*/
  /*direction: ltr;*/

  /*!* Support for all WebKit browsers. *!*/
  /*-webkit-font-smoothing: antialiased;*/
  /*!* Support for Safari and Chrome. *!*/
  /*text-rendering: optimizeLegibility;*/

  /*!* Support for Firefox. *!*/
  /*-moz-osx-font-smoothing: grayscale;*/

  /*!* Support for IE. *!*/
  /*font-feature-settings: 'liga';*/
/*}*/

.page-view {
  height: 100%;
}

.page-header {
  position: fixed;
  top: 0;
  font-size: 14px;
  width: 100%;
  height: 40px;
  z-index: 2;
  margin-bottom: 3px;
  display: flex;
  flex-flow: nowrap;
  flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  /*border-bottom-width: 2px;*/
  /*border-bottom-style: solid;*/
  /*border-bottom-color: #35495e;*/
}

.page-header-background {
  background-color: #03a9f4 !important;
}

.page-header-text {
  color: white;
}

.page-content {
  margin-top: 40px;
}

.page-header .cancel {
  padding-left: 15px;
}

.row-padding-20 {
  padding: 0 20px;
}


.todo-tabs .indicator {
  background-color: #2e9787 !important;
}

.modal {
  width: 100% !important;
}

.modal .panel-header{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  background-color: #25776f;
}

.modal .modal-content {
   padding: 0px !important;
}

.modal .panel-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 1rem;
}

.modal .panel-footer .active {
  color: #26a69a;
}
