// 公共页面样式
body {
  font-family: Verdana, Geneva, sans-serif !important;
}

.page-view {
  height: 100%;

  // 页面头部
  .page-header {
    position: fixed;
    top: 0;
    color: $common-white;
    font-size: $common-em-font-size;
    width: $common-full-width;
    height: $common-header-height;
    z-index: 2;
    margin-bottom: $common-space-UD;
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $common-blue !important;

    .cancel {
      min-width: 2rem;
      font-size: $common-font-size;
      padding-left: $common-space-LR;
    }

    .save {
      min-width: 2rem;
      font-size: $common-font-size;
      padding-right: $common-space-LR;
    }

    .title {
      color: $common-white;
    }
  }

  // 页面内容
  .page-content {
    margin-top: $common-header-height;
    padding: 0 $common-space-LR;

    .todo-tabs {
      width: auto;
      margin: $common-header-height $common-space-LR 0;
      height: 36px;

      .indicator {
        background-color: $common-green !important;
      }

      .tab {
        a {
          color: $common-black;
          height: 36px;
          line-height: 36px;

          &.active, &:hover {
            color: $common-green;
          }

        }
      }
    }

    .input-field {
      margin-top: 0px;
      margin-bottom: $common-space-UD;
    }
    input, textarea {
      margin: 0px;
    }

    textarea {
      padding: $common-space-UD 0 0 0;
      min-height: 4rem;
    }

    .selector {
      display: flex;
      margin: 3*$common-space-UD 0;

      .selectorItem {
        min-width: 70%;
      }

      .selectorUnit {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 50%;
        //min-width: 70%;

        .pickerLabel {
          font-size: 1rem;
          left: 0.75rem;
          color: $common-grey;
        }

        .input {
          background-color: transparent;
          border: none;
          border-bottom: 1px solid $common-grey;
          height: 3rem;
          line-height: 2.5rem;
          width: $common-full-width;

          //为了使div拥有onfous效果，需要给div增加"tabindex"属性并且赋值
          &:focus {
            outline: none;
            border-bottom: 2px solid $common-green;
          }
        }

        .pickerEntry {
          min-width: 70%;
        }

        .modal-content {
          background-color: $common-white;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          width: $common-full-width;
          margin-top: 0px;
          margin-bottom: 0px;
          padding: $common-space-UD 0;

          .input-field {
            margin-bottom: 0px;
          }

        }

        .modal-date {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          width: $common-full-width;
          background-color: $common-green;
          color: $common-white;
          font-size: 1.6rem;
          padding: $common-space-UD 0;

          i {
            padding-top: 3px;
            margin: 0 $common-space-LR;
          }
        }
      }

      .date-picker {
        flex: 0 0 50%;
        .modal-content {
          .week-header, .week-content {
            display: flex;
            justify-content: center;
          }

          .day-view {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            width: 100%;
            margin-top: 0px;
            margin-bottom: 0px;

            li {
              width: 3.4rem;
              text-align: center;
              height: 2.6rem;
              font-family: Roboto, sans-serif;
              line-height: 2.6rem;
            }
          }

          .week-header {

            li {
              width: 3.4rem;
              text-align: center;
              font-weight: bolder;
            }
          }
          .week-content .day-view {
            li {
              //flex: 0 0 14.2%;
              //text-align: center;
              //height: 2.6rem;
              //line-height: 2.6rem;
              display: flex;
              justify-content: center;
            }

            .message {
              width: 2.6rem;
              height: 2.6rem;
              border-radius: 100%;

              //&:hover {
              //  background-color: $common-green;
              //  opacity: 0.6;
              //  color: $common-white;
              //  transition: all .65s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
              //}
            }
          }

          .preMonth, .nextMonth {
            color: $common-grey;
          }

          .selected {
            background-color: $common-green;
            color: $common-white;
          }
        }
      }

      .time-picker {
        .modal-content {
          width: 100%;

          div {
            font-size: 3rem;
            width: 4.9rem;
            color: black;
            text-align: center;
          }

          input[type=number] {
            flex: 0 0 20%;
            font-size: inherit;
            text-align: center;
          }

          .time-picker-quick {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex: 0 0 25%;

            span {
              font-size: 1rem;
            }

            button {
              padding: 0px 8px;
              line-height: 28px;
              height: 28px;
              margin: 4px 0 4px 5px;
            }

          }

          .timeDivider {
            width: 1.5rem;
          }

          .seperator {
            width: 2.5rem;
          }

        }
      }
    }

    .chips .chip {
      height: 24px;
      line-height: 24px;
      padding: 0 6px;

      .material-icons {
        height: 24px;
        line-height: 24px;
      }
    }

    .managerList {
      padding-top: $common-space-UD;

      .itemList {
        //display: flex;
        //flex-direction: column;
        //width: 96%;
        //margin-left: 2%;
        //margin-top: $common-header-height;

        .collapsible-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background-color: $common-grey-bg;
          span.badge {
            border-radius: 60%;
            color: white;
          }
        }

        .collapsible-body {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 1rem;

          .body-tools {
            display: flex;
            align-items: center;

            .disabled {
              color: $common-grey;
            }

            .material-icons {
              padding: 0 $common-space-LR;
            }
          }

          .body-describe {
            display: flex;
            flex: 0 0 80%;
            align-items: center;
          }

          div:nth-child(1) span {
            margin: 0 4px;
          }
        }
      }
    }

    .floatAddBtn {
      position: fixed;
      bottom: 10%;
      right: 15%;
      z-index: 999;
    }
  }
}

// 模态框公共样式
.modal {
  width: $common-modal-width !important;
  top: $common-modal-top !important;
  background-color: $common-white;

  .modal-header {
    display: flex;
    flex-flow: row nowrap;
    width: $common-modal-width;
    height: $common-header-height;
    justify-content: center;
    align-items: center;
    color: $common-white;
    font-size: $common-font-size;
    background-color: $common-green;
  }

  .modal-content {
    background-color: $common-white;
    text-align: center;
    padding: 0px $common-space-LR;
  }

  .modal-footer {
    display: flex;
    justify-content: space-around;
    font-size: $common-font-size;
    background-color: $common-white;
    height: unset;
    .active {
      color: $common-green;
    }

    .btn, .btn-large, .btn-flat {
      height: 24px;
      line-height: 24px;
      font-size: 1.1rem;
    }
  }
}

#toast-container {
  bottom: unset;
  top: 0;

  .toast {
    margin-top: 0px !important;
    position: relative;
    width: 100%;
    height: $common-header-height !important;
    line-height: $common-header-height !important;
    min-height: unset;
    font-size: 1rem;
    word-break: break-all;
    background-color: #323232;
    padding: $common-space-UD;
  }
}

.input-field {
  input.is-danger, .textarea.is-danger {
    border-color: #ff3860;

  }
  span.is-danger {
    color: #ff3860;
  }
}