$common-header-height: 40px !default;
$common-font-size: 14px !default;
$common-full-width: 100% !default;
$common-space-UD: 8px;
$common-space-LR: 8px;
$common-modal-width: 100%;
$common-modal-top: 20%;

$common-white: #FFF !default;
$common-blue: #03a9f4 !default;
$common-green: #2e9787 !default;